
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap&family=Quintessential&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    text-align: center;
    margin-top: 40px;
    padding: 10px;
    font-family: Quintessential, sans-serif ;
}
body{
    background-color: rgba(0, 0, 0, 0.9);
}

form{
    margin-top: 10px;
    width: 100%;
   
}
form input{
    width: 30%;
    margin: auto;
    height: 35px;
    outline: none;
}
::placeholder{
    text-align: center;
    text-transform: capitalize;

}
#search-icon{
    margin-left: -30px;
    font-size: 20px;
    color: blue;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
    height: auto;
    
  
}
.search-content{
    height: auto;
    width: 100%;
    margin-top: 30px;
    display: grid;
    grid-gap: 15px;
    grid-template:auto / repeat(auto-fit, minmax(300px, 1fr)) ;
}
.item{
    width:100%;
    background-color: rgba(37, 37, 37, 0.6);
    padding: 10px;
    border-radius: 8px;
    font-family: 'Oswald', sans-serif;
   
}
.item img{
    width: 100%;
    height: 300px;
    border-radius: 4px;
}
.item .wording-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wording-content h2{
    color: #fff;
    font-weight: 400;

}
.item p{
    color: #fff;
    

}

.btn{
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 5px;
    padding:  0 4px;
    color: #fff;
}